.App {
  text-align: center;
  background-color: palevioletred;
}

.obey {
  font-size: 150px;
  color: black;
}

.glasses {
  width: 1000px;
}
.App-header {
  background-image: url(https://www.pecora.com/wp-content/uploads/2015/11/Fire-web-header-e1455815112413.jpg);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.mainDiv {
  background-image: url(https://fsmedia.imgix.net/20/e2/a6/67/3801/4982/8519/7edce31d799c/they-live.jpeg)
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  background-color: palevioletred;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
